! Taille par défaut
URxvt*geometry: 74x27

! Police TTF
URxvt.font: xft:DejaVu Sans Mono:size=14

! Options diverses
URxvt*saveLines:   10000
URxvt*cursorColor: white
URxvt*scrollBar:   false

! Couleurs (c’est la palette Tango)
URxvt*foreground: #ffffff
URxvt*background: #000000
URxvt*color0:     #101010
URxvt*color1:     #f13a21
URxvt*color2:     #93f91d
URxvt*color3:     #ffd00a
URxvt*color4:     #004f9e
URxvt*color5:     #ec0048
URxvt*color6:     #2aa7e7
URxvt*color7:     #f2f2f2
URxvt*color8:     #1d202f
URxvt*color9:     #ff361e
URxvt*color10:    #ffc005
URxvt*color11:    #93ff00
URxvt*color12:    #0071ff
URxvt*color13:    #ef0051
URxvt*color14:    #4bb8fd
URxvt*color15:    #a020f0

URxvt.perl-lib: /home/leirda/.urxvt/perl
URxvt.perl-ext-common: font-size

URxvt.keysym.M-plus: perl:font-increase
URxvt.keysym.M-minus: perl:font-decrease
URxvt.keysym.M-slash: perl:font-reset
